/* Testimonial's area */
#test{
  color: white;
  background: url(../img/pic2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#testContainer{
  background-color: rgba(0,0,0,0.8);
  margin-top: 15px;
}
#testHeader{
  text-align: center;
}
.testImg{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.testInfo{
  text-align: center;
}
.testName{
  color: grey;
}
.testCol{
  margin-top: 160px;
}
@media only screen and (max-width:700px){
  .testCol{
    margin-top: 60px;
  } 
}